.carousel{
  margin-top: 4%;
}
.cardCarousel {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.carousel-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  margin-bottom: 2%;
}
.carousel-buttons button {
  font-size: 40px;
  border-radius: 50%;
  width: 4rem;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.heading h1 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 50px;
}
.heading h1 span {
  color: orangered;
}

/* ------------------------------------------------ */
.cards {
  width: 300px;
  margin-inline: 22px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: none;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-carousel {
  display: flex;
  flex-direction: column;
}
.cards h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-top: 15px;
  letter-spacing: 2px;
}
.cards p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.cards img {
  border: 3px solid #000;
  border-radius: 15px;
  border-radius: 15px;
  height: 320px;
  width: 250px;
}

@media only screen and (max-width: 930px) {
  .heading h1 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 724px) {
  .carousel-buttons button {
    font-size: 30px;
    width: 3rem;
  }
  .carousel-buttons {
    padding: 0 8%;
  }
}
@media only screen and (max-width: 453px) {
  .heading h1 {
    font-size: 30px;
  }
  .carousel-buttons button {
    font-size: 20px;
    width: 2rem;
  }
  .carousel-buttons {
    padding: 0 5%;
  }
}
