.landing-container {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: auto;
    /* margin-top: 6%; */
}

.landing-container h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: #000000;
}



.landing-price {
    display: flex;
    background-color: #ff6600;
    color: #000000;
    font-size: 2rem;
    margin-top: 1rem;
    padding:  0.5rem 1.3rem;
    border-radius: 0.7rem;
}

.landing-price h2:last-child {
    color: #ffffff;
}

.landing-price h2:nth-child(2) {
    position: relative;
    display: flex;
    align-items: center;
}


.stick-line {
    width: 103%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
}

.landing-numbers{
    width: 35%;
     padding-right: 2rem;
}

.landing-numbers img {
    background-color: #dfedff;
    border-radius: 50%;
    padding: 4px;
    width: 50px;
    height: 50px;
}

.landing-numbers h3 {
    font-weight: 700;
    margin: 0;
}

.landing-numbers p {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
    color: #000000;
    margin-bottom: 0;
}



.mentor-from, .mentor-from h3{
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.mentor-from {
    margin-left: 2rem;
}


.collges {
    margin-left: 2rem;
    justify-content: space-between;
}