.landing-container {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: auto;
}

.landing-container h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: #000000;
  margin-top: 5rem;
}

.landing-sub-header {
  font-size: 1.8rem;
  color: #000000;
  line-height: 1rem;
  text-align: center;
}

.landing-price {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6600;
  color: #000000;
  font-size: 2rem;
  margin-top: 1rem;
  padding: 0.5rem 1.3rem;
  border-radius: 0.7rem;
  cursor: pointer;
  user-select: none;
}

.landing-price h2:last-child {
  color: #ffffff;
}

.landing-price h2:nth-child(2) {
  position: relative;
  display: flex;
  align-items: center;
}

.stick-line {
  width: 103%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
}

.landing-trail {
  color: #000000;
  text-align: center;
  margin-top: 3;
}

.landing-numbers {
  width: 35%;
  padding-right: 2rem;
}

.landing-numbers img {
  background-color: #dfedff;
  border-radius: 50%;
  padding: 4px;
  width: 50px;
  height: 50px;
}

.landing-numbers h3 {
  font-weight: 700;
  margin: 0;
}

.landing-numbers p {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  color: #000000;
  margin-bottom: 0;
}

.mentor-from,
.mentor-from h3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.mentor-from {
  margin-left: 2rem;
}

.collges {
  margin-left: 2rem;
  justify-content: space-between;
}

.landing-rating {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.landing-rating .bi-star-fill {
  color: #ffcf00;
  font-size: 1.2rem;
}

.landing-rating-imges {
  position: relative;
  background-color: red;
  display: flex;
  align-items: center;
  right: 2rem;
}

.landing-rating-imges img {
  width: 50px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.landing-rating-imges img:first-child {
  right: 2rem;
}

.landing-rating-imges img:nth-child(2) {
  right: 2px;
}

.landing-rating img:last-child {
  left: -1.2rem;
}

.landing-rating-desc {
  text-align: center;
}

.landing-rating-desc h2 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.landing-rating-desc p {
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #2e2e2e;
  font-weight: 500;
  font-size: 13px;
  margin-left: 1.5rem;
}

.landing-box-mobile {
  display: none !important;
}

.collges img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1255px) {
  .landing-numbers {
    width: 35%;
    padding-right: 2rem;
  }

  .landing-vr {
    display: none;
  }

  .landing-white-bar {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
    width: 650px;
  }

  .landing-numbers {
    display: flex;
    justify-content: space-evenly !important;
    width: 100%;
    margin-bottom: 1rem;
  }

  .mentor-from {
    margin-bottom: 1rem;
  }

  .landing-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .landing-sub-header {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }

  .collges {
    margin-left: 0;
  }

  .landing-trail {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .landing-box-desktop {
    display: none !important;
  }

  .landing-box-mobile {
    display: grid !important;
  }

  .mentor-from {
    display: flex;
    gap: 4px;
    margin: auto;
    margin-bottom: 1rem;
  }

  .collges {
    border: 5px solid #fff;
    border-radius: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .landing-box-desktop {
    display: none !important;
  }

  .landing-container h1 {
    font-size: 2.2rem;
  }

  .landing-sub-header {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }

  .landing-box-mobile .collges {
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0;
  }

  .landing-rating {
    margin-left: 6rem;
    margin-bottom: 2rem;
  }

  .landing-price {
    display: flex;
    background-color: #ff6600;
    flex-wrap: wrap;
    color: #000000;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 0.7rem;
    cursor: default;
  }

  .landing-price h2 {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }

  .landing-price h2:last-child {
    color: #ffffff;
  }

  .landing-price h2:nth-child(2) {
    position: relative;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .landing-box-mobile {
    padding: 0;
  }

  .collges img {
    width: 40px;
    height: 40px;
  }

  .collges {
    border: 4px solid #fff;
  }
}
