.problemStatement-heading {
  text-align: center;
  color: #000000;
}

.problemStatement-heading h1 {
  font-weight: 700;
  text-transform: uppercase;
}

.problemStatement-heading p {
  line-height: 0.8rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.problemStatement-content {
  margin-top: 7rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.problem-img {
  border: 2px solid gray;
  flex-basis: 40%;
  width: 100%;
  height: 400px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.problem-img p {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 500;
}

.problemStatement-item {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
  border-radius: 5px;
}

.problemStatement-item p {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.problemStatement-item button {
  display: flex;
  gap: 5px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff6600;
  background: none;
  border-radius: 2rem;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}

.problemStatement-item button:hover {
  background-color: #ff6600;
}

.problemStatement-item button img {
  width: 18px;
  opacity: 0.7;
}

.problem-statement-textArea-outer {
  border-radius: 10px;
  overflow: hidden;
}

.problemStatement-item textarea {
  background: none;
  resize: none;
  width: 100%;
  height: 100%;
  padding-top: 0.5rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: none;
}

.problemStatement-item textarea::-webkit-scrollbar {
  display: none;
}

.problemStatement-item textarea:focus {
  outline: none;
}

@media screen and (max-width: 1000px) {
  .problemStatement-content {
    display: grid;
    grid-template-rows: repeat(1, 1fr);

  }

  .problem-img {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .problemStatement-heading h1 {
    font-size: 1.6rem;
  }

  .problemStatement-heading p {
    font-size: 1.1rem;
  }

  .problemStatement-content {
    margin-top: 3rem;
    gap: 3rem;
  }

  .problemStatement-item {
    gap: 0.5rem;
  }

  .problemStatement-item p {
    font-size: 1rem;
  }

  .problemStatement-item button {
    width: 80px;
    height: 25px;
    border: 1px solid gray;
    font-size: 12px;
    font-weight: 500;
  }

  .problemStatement-item button img {
    width: 15px;
    opacity: 0.6;
  }

}
