.SessionContainer{
    /* margin-top: 4%; */
    background-color: #fff;
    padding: 4% 0% 4% 0;
}
#Session-ContentWrapper h1{
    text-align: center;
    font-weight: 700;
}
#Session-Coloumn1 h2{
    margin-bottom: 1.5rem;
}
#Session-Coloumn1 ul li{
    margin-bottom: 0.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(39, 39, 39, 0.875);
}
#Session-Coloumn1 ul li span{
    margin-left: 25px;
}
#Session-Coloumn1 p{
    margin-top: 2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: rgba(39, 39, 39, 0.875);
}


#Session-Coloumn2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
#Session-Coloumn2 h6{
    text-align: center;
    margin-top: 1.5rem;
    font-size: 18px;
    color: rgba(40, 39, 39, 0.767);
}

#Session-Coloumn2 p{
    display: flex;
    justify-content: center;
    margin-top: 0.7rem;
}
#Session-Coloumn2  button{
    cursor: pointer;
    background-color: rgb(254, 105, 51);
    outline: none;
    border: none;
    padding: 2px 20px;
    font-weight: 700;
    font-size: 15px;
}
#Session-Coloumn2  #list_1 {
    background-color: rgba(135, 207, 235, 0.636);
    border-radius: 10px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    width: 70%;
}
#Session-Coloumn2  #list_1 li{
    font-size: 14px;
    font-weight: 400;
}
#Session-Coloumn2  #list_2 {
    background-color: rgba(247, 157, 105, 0.423);
    border-radius: 10px;
    padding: 10px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 70%;
}
#Session-Coloumn2  #list_2 li{
    font-size: 14px;
    font-weight: 400;
}