.enroll-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enroll-maincontainer {
    /* border: 2px solid rgb(64, 255, 0); */
    padding: 4% 0 4% 0;
    margin-top: 5%;
    width: 70%;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    box-shadow: 5px 5px 20px 2px #857e7e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#enroll-btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
#enroll-btns button{
    padding: 2px 25px;
    border: 2px solid rgba(0, 89, 255, 0.373) ;
    outline: none;
    background-color: transparent;
    color: rgba(0, 89, 255, 0.903);
    letter-spacing: 2px;
    transition: all 0.5s;
}
#enroll-btns button:hover{
    background-color: rgba(0, 89, 255, 0.09) ;
}

.enroll-maincontainer h1 {
    padding-bottom: 1%;
    text-align: center;
}

.enroll-maincontainer .enroll-maincontainer-p {
    letter-spacing: 2px;
    padding-bottom: 1%;
    text-align: center;
}

.enroll-content {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;

    padding: 1% 0% 1% 2%;
}
hr{
    color:rgb(0, 0, 255) ;
    width: 150px;
    border: 1.5px solid;
}
.enroll-courses {
    /* border: 2px solid black; */
    margin-top: 50px;
    height: fit-content;
    width: 400px;
    padding: 1% 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .courses {
    padding: 16px 30px;
} */
.enroll_note{
    background-color: rgba(0, 170, 255, 0.218);
    padding: 20px 20px;
}
.enroll-courses-note h4{
    color: rgb(53, 53, 249);
    padding: 1% 1%;
    font-weight: bold;
}
.enroll-courses-note p{
    font-size: 10px;
    padding: 1% 1%;
}
.enroll-courses-suggestion{
    display: flex;
    margin-top: 2%;
}
.enroll-courses-suggestion h3 {
    font-weight: bold;
}


.cources-prices {
    /* border: 2px solid green; */
    padding: 1%;
    width: 500px;
    margin-left: 5%;
}

.prices {
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5% 5% 5%;
    margin-top: 10px;
    margin-bottom: 3%;
    width: 100%;
}

.price-month {
    display: flex;
    align-items: center;
}

.price-month p {
    font-weight: bold;
}

.price-month span {
    font-weight: 400;
    font-size: 12px;
    color: gray;
}

.price-month .btn {
    font-weight: 800;
    font-size: 15px;
    background-color: rgb(53, 53, 249);
    color: #fff;
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 8px;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
}

.btn i {
    margin-left: 5px;
}

.duration p {
    font-size: 10px;
    font-weight: 500;
    color: red;
    margin-top: 5px;
}

.duration h4 {
    font-size: 20px;
}

#payment-time {
    color: gray;
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
}

.questions-content {
    margin-top: 8%;
}

.questions {

    width: 70%;
    background-color: #f4f6f6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* border: 2px solid red; */
    box-shadow: 5px 5px 20px 2px #857e7e;
    margin: 7% 0 5% 0;
    padding: 3% 4% 3% 4%;
}

.questions h1 {
    text-align: center;
}





/* Bootstrap */
.accordion-item {
    background-color: #fff;
    border: 0px solid rgba(0, 0, 0, .125);
    margin-bottom: 9px;
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
    font-weight: 600;
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #e7f1ff;
    box-shadow: none;
}

.accordion-button:focus {
    border-color: #ffffff;
    box-shadow: none;
}

.border {
    border: 0px solid #dee2e6 !important;
}

.accordion-button::after {
    background-image: url(../../../public/plus.svg);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../../../public/dash.svg);

}

.accordion-body {
    font-size: 12px;
}

@media only screen and (max-width:1416px) {
    .enroll-maincontainer {
        width: 80%;
    }

    .cources-prices {
        /* border: 2px solid green; */
        margin-left: 1%;
    }

    .questions {
        width: 80%;
    }
}

@media only screen and (max-width:1165px) {
    .enroll-maincontainer {
        width: 90%;
    }

    .cources-prices {
        /* border: 2px solid green; */
        margin-left: 1%;
    }

    .questions {
        width: 90%;
    }
}

@media only screen and (max-width:1165px) {
    .cources-prices {
        /* border: 2px solid green; */
        margin-left: 1%;
    }

    .enroll-content {
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-evenly;
        padding: 1% 1% 1% 1%;
    }
}


@media screen and (min-width: 200px) and (max-width:800px) {
    .enroll-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1% 1% 1% 1%;
    }

    .cources-prices {
        /* border: 2px solid green; */
        margin: auto;
        width: auto;
        padding: 1%;
        width: 90%;
        margin: 0%;
        margin-top: 5%;
    }

    .enroll-maincontainer {
        width: 85%;
    }

    .questions {
        width: 85%;
    }

    .enroll-courses {
        width: 85%;
    }

}

@media screen and (min-width: 200px) and (max-width:380px) {
    .duration p {
        font-size: 10px;
    }

    .duration h4 {
        font-size: 13px;
    }

    .price-month p {
        font-size: 13px;
    }

    .price-month span {
        font-size: 10px;
    }

    .price-month .btn {
        font-weight: 800;
        font-size: 12px;
        background-color: rgb(53, 53, 249);
        color: #fff;
        outline: none;
        border: none;
        padding: 8px;
        border-radius: 8px;
        margin-left: 20px;
        cursor: pointer;
    }


}