.FormMainDiv {
    margin: auto;
    width: auto;
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 10px;
    z-index: 10;
    position: absolute;
    left: 25%;
    top: 50%;
    z-index: 11;
    box-shadow: 2px 5px 5px 3px rgb(87, 85, 85);
}

.FormMainOuterDiv {
    /* min-height: 100vh;
    background-color: transparent; */
    z-index: 20;
    width: 100%;
    display: flex;
    justify-content: center;
}

.FormHeading {
    color: rgb(231, 41, 7);
}

.FormHeadingDiv {
    width: 40%;
}

.OuterFormDiv {
    width: 100%
}

.InputMainDiv {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    align-items: flex-start;
}

.FormLabel {
    margin: 1% 0px;
}

.FormInput {
    width: 95%;
    padding: 4px 10px;
}

.InputradioDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.InputInnerDivR {
    margin: 1% 3%;
}

.ButtonFormDiv {
    margin: 4% 0%;
    text-align: center;
}

.FormBtn {
    background-color: orange;
    color: white;
    font-size: 21px;
    font-weight: bold;
    border: 0px;
    padding: 5px 5%;
    border-radius: 6px;
}

.FormImage {
    width: 2%;
    height: 2%;
    margin-right: 2%;
    margin-top: 1%;
}

.ImageCross {
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    justify-content: flex-end;
}