.MissionMainDiv {
    border: 2px solid rgb(20, 20, 20);
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 8px;
    margin-top: 2%;
    height: 18rem;
    box-shadow: 5px 5px 20px 2px #857e7e;
}

.MissionTextDiv {
    width: 60%;
}

.ImageGoal {
    width: 100%;
    height: 100%;
}

.MissionImageDiv {
    width: 39%;
}

.MissionTitle {
    text-align: center;
}

.MissionTitle h1 {
    color: black;
    margin-top: 5%;
}

.MissonDesc {
    margin: auto;
    width: auto;
    /* border: 1px solid green; */
    width: 80%;
}

.MissonDesc p {
    font-size: 20px;
    color: black;
    font-weight: 700;
    margin-top: 2%;
    text-align: center;
}

@media screen and (min-width: 400px) and (max-width:800px) {
    .MissionMainDiv {
        margin: auto;
        width: auto;
        height: 19rem;
        width: 90%;
        margin-top: 5%;
    }

    .MissonDesc p {
        font-size: 18px;
        color: black;
        font-weight: 700;
        margin-top: 2%;
        text-align: center;
    }

}


@media screen and (min-width: 200px) and (max-width:500px) {
    .MissionMainDiv {
        margin: auto;
        width: auto;
        height: 19rem;
        width: 90%;
        margin-top: 10%;
    }

    .MissonDesc p {
        font-size: 15px;
        margin-top: 2%;
        text-align: center;
    }

}