.AboutMainDiv {
    width: 100%;
}

.AboutInnerDiv {
    text-align: center;
}

.AboutTitle {
    font-size: 40px;
    font-weight: 700;
}

.AboutTitleInner {
    margin: auto;
    width: auto;
    width: 30%;
    text-align: center;
    font-size: 23px;
    color: black;
    font-weight: 600;
}

.MidAboutSection {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.MidAbSec1 {
    width: 40%;
}

.MidAbSec1inner {
    background-color: rgb(84, 84, 255);
    margin-left: -15%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 30rem;
    width: 80%;
    display: flex;
    justify-content: center;
}

.Mid-section-Image {
    margin: auto;
    width: auto;
    width: 80%;
    margin-right: -30%;
    background-color: white;
    border-radius: 8px;
    /* margin-top: 25%; */
}

.MidAbSec1inner1 {
    background-color: rgb(253, 128, 128);
    /* border: 1px solid red; */
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 30rem;
    width: 80%;
    margin-left: 36.3%;
    display: flex;
    justify-content: center;
}

.Mid-section-Image1 {
    margin: auto;
    width: auto;
    width: 80%;
    margin-left: -30%;
    background-color: white;
    border-radius: 8px;
    /* margin-top: 25%; */
}

.MidAbSec2 {
    width: 59%;
    text-align: center;
}

.MidAbSec2 h1 {
    text-align: left;
    margin-top: 7%;
    margin-left: 15%;
}

.MidAbSec2 p {
    margin: auto;
    width: auto;
    font-size: 20px;
    color: rgb(48, 47, 47);
    margin-top: 5%;
    font-weight: 400;
    width: 70%;
    text-align: justify;
    line-height: 1.8rem;
}

@media screen and (min-width: 250px) and (max-width:500px) {

    .MidAbSec2 p {
        font-size: 15px;
        line-height: none;
    }

    .MidAbSec1 {
        width: 25%;
    }

    .MidAbSec2 {
        width: 75%;
        text-align: center;
    }

    .MidAbSec1inner {
        background-color: rgb(84, 84, 255);
        margin-left: -15%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        height: 30rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .Mid-section-Image {
        width: 100%;
        margin-right: -30%;
        height: 40%;
        /* margin-top: 25%; */
    }

    .Mid-section-Image1 {
        width: 100%;
        margin-left: -30%;
        height: 40%;
        /* margin-top: 25%; */
    }

    .AboutTitleInner {
        width: 80%;
        margin-bottom: 10%;
    }

    .MidAboutSection {
        display: flex;
        flex-direction: row;
        margin-top: 10%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .MidAbSec1inner1 {
        background-color: rgb(253, 128, 128);
        /* border: 1px solid red; */
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        height: 30rem;
        width: 100%;
        margin-left: 36.3%;
        display: flex;
        justify-content: center;
    }


}