.header1,
.header1 span {
  font-size: 3rem !important;
  font-weight: 700 !important;
}

.header1 span{
    color: #ff6600 !important;
}

@media screen and (max-width: 600px) {
    
    .header1, .header1 span {
      font-size: 2.5rem !important;
      font-weight: 600 !important;
    }
  }
  