.work-card-group {
    margin-top: 6rem;
}

.work-card {
    width: 80%;
    margin: auto;
    position: relative;
    margin-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}

.work-card-img {
    
    height: 100%;
    
    flex-basis: 35%;
    display: flex;
    
}

.work-card-img img {
    width: 100%;
    height: 100%;
}

.work-card-box {
   flex-basis: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 2rem 5rem;
    background-color: #fff;
    border-radius: 3rem;
    box-shadow: rgba(5, 122, 255, 1) 5px 5px, rgba(5, 122, 255, 1) 10px 10px, rgba(5, 122, 255, 1) 15px 15px, rgba(5, 122, 255, 1) 20px 20px;
}



.work-card-details-heading {
    display: flex;
    align-items: center;
    gap: 1rem;
}



.work-card-details-heading p {
    background-color: #ff6600;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0;
}

.work-card-details-heading h2 {
    color: #ff6600;
    font-size: 1.5rem;
    font-size: 700;
}

.work-card-details-desc {
    margin-top: 0.2rem;
    color: #000000;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-weight: 500;
}

.work-card-reverse {
    width: 80%;
    margin: auto;
    margin-bottom: 10rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    height: 200px;
}

.work-card-reverse .work-card-box {
    flex-basis: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 2rem 5rem;
    box-shadow: rgba(5, 122, 255, 1) -5px 5px, rgba(5, 122, 255, 1) -10px 10px, rgba(5, 122, 255, 1) -15px 15px, rgba(5, 122, 255, 1) -20px 20px;
 }

 .works-mobile-view {
    display: none !important;
 }

 @media screen and (max-width: 1400px) {
    .work-card-box {
        padding: 1rem 2rem;
     }

     .work-card-details-heading p {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }
    
    .work-card-details-heading h2 {
        font-size: 1.3rem;
    }
    
    .work-card-details-desc {
        letter-spacing: 1px;
        font-size: 1rem;
        line-height: 1.2rem;
    }
 }

@media screen and (max-width: 1000px) {

    .work-card-group {
        margin-top: 2rem;
        width: 100%;
    }

    .work-card {
        width: 100%;
    }

    .work-card-reverse {
        width: 100%;
    }
 }

 @media screen and (max-width: 778px) {
    
    .work-card-box {
        box-shadow: rgba(5, 122, 255, 1) -5px 5px, rgba(5, 122, 255, 1) -10px 10px, rgba(5, 122, 255, 1) -15px 15px;
        margin-bottom: 3rem;
     }

     .work-card-img {   
      width: 50%;
      margin: auto; 
      margin-bottom: 1rem;
      margin-top: 1rem;
    }


     .works-desktop-view {
        display: none !important;
    }

    .works-mobile-view {
        display: flex !important;
        flex-direction: column;
     }
 }


 @media screen and (max-width: 500px) {

    .work-card-box {
        padding: 1rem;
     }

     .work-card-details-heading p {
        font-size: 0.9rem;
    }
    
    .work-card-details-heading h2 {
        font-size: 1.2rem;
    }
    
    .work-card-details-desc {
        letter-spacing: 0;
        font-size: 0.9rem;
        line-height: 1rem;
    }

    .work-card-box {
        box-shadow: rgba(5, 122, 255, 1) -5px 5px, rgba(5, 122, 255, 1) -10px 10px;
        margin-bottom: 2.5rem;
     }

     .work-card-group {
        margin-top: 0rem;
        margin-bottom: 2rem;
    }
 }