#mentee-header {
  display: flex;
  padding: 2% 4%;
  align-items: center;
}

#mentee-header h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 60px;
}

#menteeCard {
  display: flex;
  flex-wrap: nowrap;
  margin-inline: 22px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* border: 2px solid red; */
}

#menteeCard::-webkit-scrollbar {
  display: none;
}

.menteecard-carousel {
  width: 340px;
  margin-inline: 22px;
  border: none;
  /* border: 2px solid rgb(4, 255, 0); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menteecards {
  /* border: 2px solid red; */
}

.menteecards img {
  border: 3px solid #000;
  height: 390px;
  width: 260px;
  border-radius: 8px;
  margin-bottom: 4%;
}

.menteecarousel-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.menteecarousel-buttons button {
  font-size: 40px;
  border-radius: 50%;
  width: 4rem;
  border: none;
  margin-left: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media only screen and (max-width: 1025px) {
  .menteecarousel-buttons {
    padding: 0 5%;
  }
}

@media only screen and (max-width: 918px) {
  .menteecarousel-buttons {
    padding: 0 0%;
    margin-left: 0=rem;
  }

  #mentee-header h1 {
    letter-spacing: 2px;
    font-size: 40px;
  }
}

@media only screen and (max-width: 619px) {
  .menteecarousel-buttons {
    padding: 0 0%;
  }

  #mentee-header h1 {
    letter-spacing: 2px;
    font-size: 40px;
  }

  .menteecarousel-buttons button {
    font-size: 30px;
    width: 3rem;
  }

  #mentee-header {
    padding: 4% 0%;
  }

  .menteecard-carousel img {
    border: 4px solid black;
    margin-top: 2rem;
    border-radius: 1rem;
  }


}

@media only screen and (max-width: 571px) {
  #mentee-header h1 {
    letter-spacing: 2px;
    font-size: 30px;
  }

  .menteecarousel-buttons button {
    font-size: 30px;
    width: 3rem;
    margin-left: 2rem;
  }

  #mentee-header {
    padding: 4% 3%;
  }

  #mentee-header {
    display: flex;
    padding: 2% 0%;
    align-items: center;
  }
}

@media only screen and (max-width: 451px) {
  #mentee-header {
    display: flex;
    flex-direction: column;
  }

  .menteecarousel-buttons {
    justify-content: space-between;
    width: 100%;
  }

  .menteecarousel-buttons button {
    margin-left: 0rem;
  }
}