.mentee-container {
  padding: 1% 4%;
  margin-top: 4%;
}
#mentee-header {
  display: flex;
  padding: 2% 1%;
  align-items: center;
}
#mentee-header h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 50px;
}

.cards-wrapper {
  width: 100%;
  display: flex;
  margin: 0 0.5rem;
  justify-content: center;
}
.card {
  margin: 0 0.5em;
  width: 25%;
}
.cards-wrapper img {
  height: 500px;
}

#bt1 {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
  top: -316px;
  left: -400px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url(../../assets/arrow-right.svg);
  background-size: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


#bt2 {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-image:url(../../assets/arrow-left.svg);
  background-size: 40px;
  position: relative;
  top: -316px;
  left: 655px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

