/* First Section */
#container {
  padding: 0;
}

.mentorContianer {
  padding: 0% 5% 0 5%;
  display: flex;
  justify-content: center;
}

.mentorContent {
  background-color: #fff;
  margin: 5% 5% 10% 5%;
  width: 80%;
  background-color: aliceblue;
}

#mentorContent_heading h1 {
  color: rgb(70, 11, 142);
  font-weight: 700;
  margin: 3% 0 0% 6%;
}

.first-SectionImage-tagline {
  display: none;
}

.first-SectionImage-tagline p {
  background-color: rgb(70, 11, 142);
  border-radius: 50%;
  text-align: center;
  padding: 2% 4% 2% 4%;
  color: yellow;
  font-size: 20px;
  margin-right: 20px;
}

#content_1 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
}

.content_1tagline {
  display: none;
}

.tagline {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
}

.tagline p {
  background-color: rgb(70, 11, 142);
  border-radius: 50%;
  text-align: center;
  padding: 2% 4% 2% 4%;
  color: yellow;
  font-size: 20px;
  margin-right: 20px;
}

.tagline h5 {
  color: rgb(70, 11, 142);
  font-weight: 700;
  letter-spacing: 2px;
}

#content_1 #para {
  padding: 0% 0 0 18%;
  font-size: 12px;
  line-height: 20px;
}

/* Second Section */
.content_1Imagetagline {
  display: none;
}

#content_2 {
  margin-top: 10%;
}

#content_2 p {
  color: rgba(52, 16, 158, 0.674);
  font-size: 20px;
  font-weight: 600;
}

#content_2 p span {
  color: rgb(56, 13, 184);
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
  letter-spacing: 2px;
}

#content2_image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

#content2_para {
  border-radius: 10px;
  border: 2px solid rgba(52, 16, 158, 0.237);
  background-color: rgba(159, 132, 242, 0.093);
  padding: 2%;
}

#content2_para h5 {
  color: rgb(56, 13, 184);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}

#content2_para p {
  color: rgba(0, 0, 0, 0.574);
  font-size: 14px;
  font-weight: 500;
}

#content2_para p b {
  background-color: rgb(255, 208, 0);
  font-weight: bold;
  color: #000;
}

/* Third Section */
#content_3 {
  margin-top: 3%;
}

#content3_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1px;
  padding: 0 15px;
}

#content3_details-para {
  margin-top: 3%;
}

#content3_details-btn {
  width: 11rem;
  outline: none;
  border: none;
  padding: 3px 8px;
  border-radius: 4px;
  color: rgb(69, 8, 255);
  font-weight: 600;
  background-color: rgba(0, 102, 255, 0.178);
  transition: 0.5s;
}

#content3_details-btn:hover {
  background-color: rgba(0, 102, 255, 0.318);
}

#content_3-Image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fourth Section */
#content_4 {
  margin-top: 5%;
}

#content_4-heading h2 {
  text-align: center;
  font-weight: 700;
}

#content_4-Image {
  display: flex;
  justify-content: center;
}

/* Fifth Section */
#content_5 {
  margin-top: 8%;
  padding: 0 5%;
}

/* Sixth Section */
#Section_6 {
  /* border: 2px solid red; */
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#content_6 {
  padding-bottom: 10%;
  margin-top: 5%;
  padding-top: 30px;
}

#content_6 h4 {
  color: rgb(86, 49, 195);
  text-align: center;
  font-weight: 700;
  padding-top: 20px;
}

#content6_details-btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4%;
}

#content_6-Image {
  display: flex;
  justify-content: center;
}

#content6_details-btn1 {
  width: 11rem;
  outline: none;
  border: none;
  padding: 3px 8px;
  border-radius: 4px;
  color: rgba(70, 8, 255, 0.742);
  font-weight: 400;
  background-color: rgba(0, 102, 255, 0.178);
  transition: 0.5s;
}

#content6_details-btn2 {
  width: 11rem;
  outline: none;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  color: rgb(69, 8, 255);
  font-weight: 600;
  background-color: rgba(0, 102, 255, 0.178);
  transition: 0.5s;
}

#content6_details-btn2:hover {
  background-color: rgba(0, 102, 255, 0.318);
}

#content6_details-btn1:hover {
  background-color: rgba(0, 102, 255, 0.318);
}

/* Media Queary */
@media only screen and (max-width: 900px) {
  .mentorContianer {
    padding: 0% 0% 0 0%;
  }

  #mentorContent_heading h1 {
    color: rgb(70, 11, 142);
    font-weight: 700;
    margin: 3% 3% 0% 3%;
  }
}

@media only screen and (max-width: 778px) {
  #mentorContent_heading h1 {
    color: rgb(70, 11, 142);
    font-weight: 700;
    margin: 3% 3% 0% 3%;
  }

  .mentorContent {
    background-color: #fff;
    margin: 5% 5% 10% 5%;
    width: 90%;
    background-color: aliceblue;
  }

  #content3_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1px;
    padding: 0 5%;
    margin-bottom: 2%;
  }

  #content3_details-para {
    margin-top: 1%;
  }
}

@media only screen and (max-width: 640px) {
  #first-Section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  #third-Section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  #fifth-Section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
}

@media only screen and (max-width: 473px) {
  .tagline {
    display: none;
  }

  .first-SectionImage-tagline {
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
  }

  #first-SectionImage {
    /* border: 2px solid green; */
    width: 70%;
  }

  .first-SectionImage-tagline p {
    background-color: rgb(70, 11, 142);
    border-radius: 50%;
    text-align: center;
    padding: 2% 4% 2% 4%;
    color: yellow;
    font-size: 20px;
    margin-right: 20px;
  }

  .first-SectionImage-tagline h5 {
    color: rgb(70, 11, 142);
    font-weight: 700;
  }

  #content_1 #para {
    /* border: 2px solid red; */
    padding: 0% 0 0 2%;
    font-size: 15px;
  }

  #content_1Image {
    width: 70%;
  }

  .content_1Imagetagline h5 {
    color: rgb(70, 11, 142);
    font-weight: 700;
  }

  .content_1Imagetagline p {
    background-color: rgb(70, 11, 142);
    border-radius: 50%;
    text-align: center;
    padding: 2% 4% 2% 4%;
    color: yellow;
    font-size: 20px;
    margin-right: 20px;
  }

  .content_1Imagetagline {
    display: flex;
    align-items: center;
  }

  #content_1Image {
    width: 70%;
  }

  .content_1tagline h5 {
    color: rgb(70, 11, 142);
    font-weight: 700;
  }

  .content_1tagline p {
    background-color: rgb(70, 11, 142);
    border-radius: 50%;
    text-align: center;
    padding: 2% 4% 2% 4%;
    color: yellow;
    font-size: 20px;
    margin-right: 20px;
  }

  .content_1tagline {
    display: flex;
    align-items: center;
  }

  #content_1 {
    width: 100%;
    padding: 1% 6%;
  }

  .col-4 {
    width: 45.333333%;
  }

  #content3_details-para {
    font-size: 12px;
    margin-top: 0%;
  }

  #content3_details {
    font-size: 12px;
  }

  #content_6 h4 {
    padding-top: 20px 40px;
    font-size: 18px;
  }

  #content6_details-btn2 {
    width: 8rem;
    font-size: 12px;
  }

  #content6_details-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4%;
  }

  #content6_details-btn1 {
    width: 15rem;
    font-size: 12px;
    margin-bottom: 2%;
  }

  #content6_details-btn2 {
    width: 15rem;
    font-size: 12px;
    margin-bottom: 2%;
    margin-top: 2%;
  }
}

@media only screen and (max-width: 350px) {
  #mentorContent_heading h1 {
    color: rgb(70, 11, 142);
    font-weight: 700;
    margin: 3% 3% 0% 3%;
    font-size: 22px;
  }
}