.frounder-desk-desc {
    font-size: 1.2rem;
    color: #000000;
    font-weight: 500;
    padding-bottom: 3rem;
}

.founder-desc {
    color: #000000;
    font-weight: 600;
}

.bi-linkedin {
    color: #0277b5;
}

.founder-name {
    font-size: 1.6rem;
    font-weight: 700;
    height: 1.5rem;
}